.timeline {
    position: relative;
    border-top: 2px solid var(--neutral-400);

    .year-section {
        position: relative;
    }

    .year {
        position: sticky;
        top: 0;
        background-color: var(--neutral-200);
        border-bottom: 1px solid var(--neutral-300);
        margin: 0;
        padding: var(--padding);
        text-align: center;
        font-size: 1.5rem;
        z-index: 50;
    }

    .month-section {
        position: relative;
        display: flex;
        align-items: start;
        margin: var(--margin) 0;
        gap: var(--margin);

        &:not(:first-of-type) {
            border-top: 1px solid var(--neutral-400);
            padding-top: var(--margin);
        }
    }

    .events {
        margin: 0;
        padding: 0;
        list-style: none;
        flex: 1 1 auto;
    }

    .details {
        display: flex;
        align-items: start;
        gap: var(--margin);
        margin-bottom: var(--margin);

        @media screen and (max-width: 644px) {
            flex-wrap: wrap;
        }

        > div {
            flex: 1 1 100%;
        }
    }

    .dates {
        list-style: none;
        margin: 0;
        padding: 0;
        flex: 1 1 auto;
    }

    .date-section {
        display: flex;
        align-items: start;
        margin-bottom: var(--margin);
    }

    .month,
    .date {
        position: sticky;
        top: calc(38px + var(--margin));
        font-size: 1.23rem;
        font-weight: 600;
        font-family: var(--serif-fonts);
        margin: 0;
        padding: 0;
        border: none;
    }

    .month {
        flex: 0 0 10ch;
    }

    .date {
        flex: 0 0 6ch;

        sup {
            position: absolute;
            top: -0.44em;
        }
    }

    .event-title {
        font-size: 1.23rem;
        font-weight: 600;
        font-family: var(--serif-fonts);
        margin: 0 0 var(--margin);
        padding: 0;
        border: none;
    }

    .controls {
        flex: 0 1 fit-content;
        margin-left: auto;
        display: flex;
        gap: 0.88ch;
        align-items: center;
    }
}
