#infobox-wrapper {
    position: relative;
    @media screen and (min-width: 960px) {
        > .panel {
            position: relative;
            display: block !important;
        }

        button {
            display: none;
        }
    }
}

.infobox {
    --infobox-colour: var(--blue-500);

    --infobox-h1-mix-colour: color-mix(in hsl, #fff 45%, var(--infobox-colour));
    --infobox-h2-mix-colour: color-mix(in hsl, #fff 65%, var(--infobox-colour));

    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-300);
    font-size: 0.9em;
    min-width: 250px;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0.33rem;

    @media screen and (max-width: 884px) {
        margin: 0 auto;
    }

    @media screen and (max-width: 960px) {
        position: absolute;
        right: 0;
        z-index: 100;
        box-shadow: -2px 2px 8px rgba(10 10 10 / 0.33);
    }

    > * {
        grid-column: 1 / -1;
        text-align: center;
        margin: 0;
    }

    img {
        max-width: 90%;
        max-height: 200px;
        object-fit: cover;
    }

    h1,
    h2 {
        border: none;
        padding: 0;
        margin: 0.23em 0;
        font-size: 1.3rem;
        font-family: var(--sans-fonts);
    }

    td,
    th,
    tbody,
    thead,
    tr {
        background-color: transparent;
        border: none;
        vertical-align: top;
        padding: 0;
    }

    .level_1 {
        background-color: var(--infobox-h1-mix-colour);
        padding: 0.16em 0;
    }

    .level_2 {
        background-color: var(--infobox-h2-mix-colour);
        padding: 0.16em 0;
    }

    .field th,
    .field td {
        text-align: left;
    }

    ul,
    ol {
        padding: 0;
        padding-left: 1ch;
    }

    p {
        margin: 0;
        padding: 0;
    }
}

.slate .infobox {
    --infobox-colour: var(--slate-500);
}
.red .infobox {
    --infobox-colour: var(--red-500);
}
.orange .infobox {
    --infobox-colour: var(--orange-500);
}
.amber .infobox {
    --infobox-colour: var(--amber-500);
}
.yellow .infobox {
    --infobox-colour: var(--yellow-500);
}
.lime .infobox {
    --infobox-mix-colour: var(--lime-500);
}
.green .infobox {
    --infobox-colour: var(--green-500);
}
.emerald .infobox {
    --infobox-colour: var(--emerald-500);
}
.teal .infobox {
    --infobox-colour: var(--teal-500);
}
.cyan .infobox {
    --infobox-colour: var(--cyan-500);
}
.sky .infobox {
    --infobox-colour: var(--sky-500);
}
.blue .infobox {
    --infobox-colour: var(--blue-500);
}
.indigo .infobox {
    --infobox-colour: var(--indigo-500);
}
.violet .infobox {
    --infobox-colour: var(--violet-500);
}
.purple .infobox {
    --infobox-colour: var(--purple-500);
}
.fuchsia .infobox {
    --infobox-colour: var(--fuchsia-500);
}
.pink .infobox {
    --infobox-colour: var(--pink-500);
}
.rose .infobox {
    --infobox-colour: var(--rose-500);
}

#infobox-toggle {
    transform: rotate(-90deg);
    position: fixed;
    right: calc(0px - var(--layout-gap));
    height: 2.5em;
    top: 23vmax;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    box-shadow: none;
    padding: var(--margin);
    z-index: 500;
}
