.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--layout-gap);

    .masthead {
        display: flex;
        flex: 1 1 auto;
        margin-left: var(--layout-gap);
        align-items: center;
        gap: var(--layout-gap);
        font-family: var(--serif-fonts);
        font-size: 1.3em;
        font-variant: small-caps;
        color: var(--slate-500);

        img {
            height: 2.35em;
        }
    }

    .site-search {
        display: flex;
        margin: 0;
        flex: 1 1 auto;

        input + button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
            min-width: unset;
            width: min(50%, 300px);
        }
    }
}

.user-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 200px;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--gray-50);
    border-left: 1px solid var(--gray-400);
    z-index: 1000;
    box-shadow: -3px 3px 8px var(--gray-300);

    > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--serif-fonts);
        font-size: 1.14em;
        border-bottom: 1px solid var(--border-colour);
        width: 100%;
        padding: var(--padding);

        :is(h1, h2, h3) {
            font-size: 1.12rem;
            border: none;
            margin: 0;
            padding: 0;
        }

        button {
            font-size: 0.88em;
            margin: 0;
        }
    }

    ul {
        margin: var(--margin) 0;
        padding: 0;
        list-style: none;

        li {
            border-bottom: 1px solid var(--gray-300);
            padding: calc(var(--padding) + 0.33em) var(--padding) var(--padding);

            form {
                margin: 0;
            }
        }
    }
}

.menu-button {
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    height: 2em;
    min-width: 2em;
    font-size: 1.2em;
    padding: 0 var(--padding);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        min-height: unset !important;
        height: 1em !important;
    }

    &:hover {
        color: var(--blue-700);
        background-color: transparent !important;
        box-shadow: none;
    }
}

#page-header {
    margin: var(--layout-gap) 0;
    margin-right: 10vw;
    display: grid;
    grid-template-columns: var(--sidebar-width) auto;
    column-gap: var(--layout-gap);

    @media screen and (max-width: 1244px) {
        margin-right: 0;
    }

    @media screen and (min-width: 1440) {
        max-width: 1244px;
    }

    > * {
        grid-column: 2 / 3;

        @media screen and (max-width: 1024px) {
            grid-column: 1 / -1;
        }
    }

    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--border-colour);

        section {
            display: flex;
            gap: 1.56ch;
        }

        a {
            padding: var(--padding) 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.33ch;
            margin-bottom: -1.5px;
            border-bottom: 2px solid transparent;
            font-size: 0.96em;

            &:hover {
                text-decoration: none;
                border-bottom: 2px solid var(--blue-700);
            }

            &.active {
                color: var(--gray-700);
                border-bottom: 2px solid var(--gray-700);
            }
        }
    }
}

.base-wrapper {
    display: flex;
    gap: var(--layout-gap);
    min-width: 0;

    .article {
        flex: 1 1 100%;
        counter-reset: page-list;
        min-width: 0;
        max-width: 100ch;

        :is(h1, h2, h3, h4, h5, h6) {
            margin-top: 1.33em;
            margin-bottom: 0.33em;
        }

        h2 + h3 {
            margin-top: 0;
        }

        h4 {
            font-size: 1.1em;
        }

        p {
            margin-bottom: 1.2em;
        }

        :first-child {
            margin-top: 0;
        }
    }

    .right-sidebar {
    }

    .left-sidebar {
        position: sticky;
        top: var(--layout-gap);
        height: fit-content;
        background-color: var(--white);
        flex: 0 0 200px;
        display: flex;
        flex-direction: column;
        gap: var(--layout-gap);

        @media screen and (max-width: 960px) {
            position: fixed;
            background-color: var(--white);
            z-index: 1000;
            left: 0;
            top: 13vmax;
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            padding: var(--layout-gap);
            border: 1px solid var(--border-colour);
            box-shadow: 2px 2px 8px var(--gray-300);
        }

        @media screen and (min-width: 961px) {
            display: flex !important;
        }
    }
}

#site-footer {
    padding-top: var(--layout-gap);
    font-size: 0.89em;
    margin-top: auto;

    > * {
        width: 1224px;
        max-width: 100%;
        margin: var(--margin) auto;
    }

    header {
        border-top: 1px solid var(--border-colour);
        font-weight: 500;
        font-size: 1.11em;
        padding-top: var(--layout-gap);
    }
}

.article-contents {
    background-color: var(--gray-100);
    border: 1px solid var(--border-colour);
    border-left: none;
    padding: calc(var(--padding) * 2) var(--margin) calc(var(--padding) * 2)
        1.66vmax;
    left: calc(var(--layout-gap) * -1);
    width: calc(var(--layout-gap) + 100%);

    :is(h1, h2) {
        font-size: 1.12em;
        padding-bottom: 0.33em;
        margin-bottom: 0.66em;
    }

    ol,
    ul {
        margin: calc(var(--margin) / 2) 0;
        padding-left: 0;
    }

    svg {
        flex: 0 0 1em;
        margin-top: 0.112em;
    }

    li {
        margin-bottom: calc(var(--margin) / 2);
        list-style: none;
        display: flex;
        gap: 0.33ch;

        &.h3 {
            margin-left: 2ch;
        }
    }
}

#sidebar-toggle {
    @media screen and (min-width: 961px) {
        display: none;
    }
}

.menu-list {
    list-style-type: none;
    margin: var(--margin) 0;
    padding: 0;

    &:first-child {
        margin-top: 0;
    }

    li:not(:first-child) {
        margin: var(--margin) 0;
    }

    :is(h1, h2, h3) {
        font-size: 1.23em;
        margin: 0 0 0.33em;
        padding: 0 0 0.33em;
    }
}

.default-box {
    border: 1px solid var(--border-colour);
    color: var(--gray-600);
    padding: var(--layout-gap);
    margin: var(--margin) 0;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: var(--margin);
    align-items: center;

    header {
        font-size: 1.21em;
    }

    p {
        margin: 0;
    }

    svg {
        height: 3em;
    }
}

form .field {
    border-top: 1px solid var(--border-colour);
    padding: var(--margin) 0;
    margin: var(--margin) 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    gap: var(--layout-gap);
    max-width: 100%;

    label {
        font-size: 1em;
    }

    input,
    select,
    textarea {
        margin: 0;
        max-width: 100%;
    }

    aside {
        grid-column: 2 / 3;
    }
}

form footer.fixed {
    position: sticky;
    display: flex;
    gap: 1ch;
    background-color: var(--white);
    bottom: 0;
    padding: var(--padding) 0;
    border-top: 1px solid var(--border-colour);
    margin-top: var(--layout-gap);

    > * {
        margin: 0;
    }
}

.article-footer {
    margin: calc(var(--margin) * 3) 0;
    padding: var(--padding) 1ch;
    border-top: 1px solid var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
    background-color: var(--indigo-100);
}

.change-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: var(--layout-gap);

    li {
        margin: var(--margin) 0;
        padding: 0;
    }

    em {
        color: var(--gray-400);
    }
}

.page-list {
    list-style-type: none;
    margin: var(--layout-gap) 0 var(--layout-gap) var(--margin);
    padding: 0;
    column-gap: var(--layout-gap);
    column-width: 25ch;

    li {
        margin: var(--margin) 0;
        padding: 0;
        counter-increment: page-list;

        &::before {
            content: counter(page-list) ".";
            margin-right: 0.44ch;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.reference-list {
    list-style: none;
    column-width: 35ch;
    padding: 0;
    column-gap: var(--layout-gap);
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        margin-bottom: var(--padding);
        break-inside: avoid;
    }

    dl {
        display: grid;
        grid-template-columns: 3ch auto;
        grid-template-rows: min-content min-content;
        break-inside: avoid;
        margin: 0;

        dt {
            grid-row: 1 / -1;
            grid-column: 1 /-2;
        }

        dd {
            margin: 0;
            grid-column: 2 / -1;
        }
    }
}

.word-count {
    display: inline-flex;
    align-items: center;
    margin: 0 var(--padding);
}

.horizontal-nav {
    display: flex;
    gap: 1ch;
    align-items: center;
}

.category-input-list {
    list-style: none;
    display: flex;
    gap: 0.33ch;
    flex-wrap: wrap;
    margin: var(--margin) 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        border: 1px solid var(--blue-200);
        background-color: var(--blue-100);
        border-radius: var(--border-radius);
        padding: calc(var(--padding) / 2) var(--padding);
        display: flex;
        align-items: center;
        gap: 0.5ch;

        button {
            box-shadow: none;
            padding: 0;
            margin: 0;
            border: none;
            background-color: transparent;
        }
    }
}

.info-bar {
    margin: calc(var(--margin) * 3) 0;
    padding: var(--padding) 1ch;
    border: 1px solid var(--blue-200);
    background-color: var(--blue-100);
    display: flex;
    gap: var(--margin);

    header {
        font-weight: 600;
        margin-right: 2ch;
    }

    ul,
    ol {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 1ch;
        margin: 0;
        padding: 0;

        li {
            &:not(:last-child)::after {
                content: "|";
                margin-left: 1ch;
            }
        }
    }
}

.input-group {
    display: flex;
    gap: 1.2ch;

    label {
        display: flex;
        flex-direction: column;
        font-weight: 300;
    }
}

.box-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--layout-gap);
    margin: var(--layout-gap) 0;

    .box {
        --header-colour: var(--purple-200);
        border: 1px solid var(--gray-500);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        gap: var(--padding);
        padding-bottom: var(--padding);

        :is(h1, h2, h3, h4, h5) {
            font-size: 1.12rem;
            margin: 0;
            font-weight: 600;
        }

        > header {
            border-bottom: 1px solid var(--gray-400);
            padding: var(--padding);
            background-color: var(--header-colour);
            border-top-left-radius: var(--border-radius);
            border-top-right-radius: var(--border-radius);

            :is(h1, h2, h3) {
                border: none;
                margin: 0;
                padding: 0;
                font-size: 1.33rem;
            }
        }

        > * {
            padding: 0 var(--padding);
            margin: 0;
        }

        ul,
        ol {
            padding-left: 4ch;
            margin-bottom: var(--padding);

            li {
                margin-bottom: 0.12em;
            }
        }
    }
}

a.block-link {
    display: block;
    text-align: center;
    background-color: var(--gray-100);
    width: auto;
    margin: var(--margin) auto;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    padding: var(--margin);

    > * {
        padding: 0;
        margin: 0;
    }

    &:hover {
        background-color: var(--gray-200);
    }

    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
        padding: 0;
        border: none;
    }
}

[x-cloak] {
    display: none !important;
}

.changes-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--margin);

    .change {
        flex: 1 1 100%;
        margin-bottom: var(--margin);

        &:not(:first-of-type) {
            border-top: 1px solid var(--border-colour);
            padding-top: var(--padding);
        }

        aside {
            margin-left: auto;
        }

        header {
            display: flex;
            font-size: 1rem;
            margin: 0;

            aside {
                margin-left: auto;
            }

            h2 {
                font-size: inherit;
                flex: 1 1 auto;
                border: none;
                margin: 0;
                font-weight: 500;
            }
        }
    }

    .date {
        display: flex;
        border-top: 1px solid var(--border-colour);
        padding: var(--padding) 0;
        margin: var(--margin) 0;
        align-items: start;
        gap: var(--layout-gap);

        h1 {
            font-size: 1.5em;
            width: 20ch;
            border: none;
            position: sticky;
            top: var(--margin);
            line-height: 1.3em;
            margin: 0;
        }

        ul,
        ol {
            list-style: none;
            margin: 0;
            padding: 0;
            flex: 1 1 auto;
        }
    }
}
